<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Stripe</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <header class="bg-slate-400 p-3">  <h1 class="text-white text-xl text-center">Realizar Pago</h1></header>
     <div class="flex justify-center mt-5">
          {{{body}}}
     </div>
  
</body>
</html>